src/main/java/com/jda/ap/bi/bind/sampleConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="APBIConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Datasource">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="URL"/>
              <xs:element type="xs:string" name="username"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BI">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cognos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="username"/>
                    <xs:element type="xs:string" name="password"/>
                    <xs:element type="xs:string" name="namespace"/>
                    <xs:element type="xs:string" name="ServiceURL"/>
                    <xs:element type="xs:string" name="modelFolder"/>
                    <xs:element type="xs:string" name="modelFile"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Views">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AttributeViews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="View">
                      <xs:annotation>
                        <xs:documentation>Zero or more repetitions:</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="AttributeDimensions">
                            <xs:annotation>
                              <xs:documentation>Optional:</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="HierarchyName">
                            <xs:annotation>
                              <xs:documentation>Optional:</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="PlanID">
                            <xs:annotation>
                              <xs:documentation>Optional:</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="Alias"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="columns"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="HierarchyViews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="View">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="AttributeDimensions">
                            <xs:annotation>
                              <xs:documentation>Optional:</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="HierarchyName">
                            <xs:annotation>
                              <xs:documentation>Optional:</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="PlanID">
                            <xs:annotation>
                              <xs:documentation>Optional:</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="Alias"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="columns"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PlanViews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="View">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="AttributeDimensions">
                            <xs:annotation>
                              <xs:documentation>Optional:</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="HierarchyName">
                            <xs:annotation>
                              <xs:documentation>Optional:</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="PlanID">
                            <xs:annotation>
                              <xs:documentation>Optional:</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="Alias"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="columns"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>