src/main/java/com/jda/ap/bi/bind/sampleConfig5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="APBIConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Datasource">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="URL"/>
              <xs:element type="xs:string" name="username"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BI">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cognos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="username"/>
                    <xs:element type="xs:string" name="password"/>
                    <xs:element type="xs:string" name="namespace"/>
                    <xs:element type="xs:anyURI" name="ServiceURL"/>
                    <xs:element type="xs:string" name="modelFolder"/>
                    <xs:element type="xs:string" name="modelFile"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Views">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AttributeViews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="View" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name"/>
                          <xs:element type="xs:string" name="Alias"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="columns" use="optional"/>
                        <xs:attribute type="xs:string" name="ignore" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="HierarchyViews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="View" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name"/>
                          <xs:element type="xs:string" name="Alias"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="columns" use="optional"/>
                        <xs:attribute type="xs:string" name="ignore" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PlanViews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="View" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name"/>
                          <xs:element type="xs:string" name="Alias"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="columns" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="LookupViews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="View" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name"/>
                          <xs:element type="xs:string" name="Alias"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="columns" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>