config/sampleConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="APBIConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="port"/>

                <xs:element ref="Datasource"/>
                <xs:element ref="BI"/>
                <xs:element ref="Views"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="port" type="xs:integer"/>
    <xs:element name="LookupViews">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="View" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Cognos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="username"/>
                <xs:element ref="namespace"/>
                <xs:element ref="ServiceURL"/>
                <xs:element ref="modelFolder"/>
                <xs:element ref="modelFile"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PlanViews">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="View" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="HierarchyViews">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="View" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="namespace" type="xs:string"/>
    <xs:element name="Datasource">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="URL"/>
                <xs:element ref="username"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Name" type="xs:string"/>
    <xs:element name="Table" type="xs:string"/>
    <xs:element name="ServiceURL" type="xs:anyURI"/>
    <xs:element name="View">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Name"/>
                <xs:element ref="Table"/>
                <xs:element ref="Alias"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="columns" use="optional"/>
            <xs:attribute type="xs:string" name="ignore" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="username" type="xs:string"/>
    <xs:element name="BI">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Cognos"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Alias" type="xs:string"/>
    <xs:element name="modelFile" type="xs:string"/>
    <xs:element name="Views">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AttributeViews"/>
                <xs:element ref="HierarchyViews"/>
                <xs:element ref="PlanViews"/>
                <xs:element ref="LookupViews"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="modelFolder" type="xs:string"/>
    <xs:element name="URL" type="xs:string"/>
    <xs:element name="AttributeViews">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="View" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>